wsdls/UsageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.macrovision:flexnet/operations" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:com.macrovision:flexnet/operations" xmlns:intf="urn:com.macrovision:flexnet/operations" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:com.macrovision:flexnet/operations" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="GetUsageRequest">
    <complexType>
     <sequence>
      <element name="orgName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <simpleType name="StatusType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="SUCCESS"/>
     <enumeration value="FAILURE"/>
     <enumeration value="PARTIAL_FAILURE"/>
    </restriction>
   </simpleType>
   <complexType name="StatusInfoType">
    <sequence>
     <element name="status" type="impl:StatusType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Period">
    <sequence>
     <element name="startDate" type="xsd:string"/>
     <element name="endDate" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Usage">
    <sequence>
     <element name="productLine" type="xsd:string"/>
     <element name="meter" type="xsd:string"/>
     <element name="usageUnitName" type="xsd:string"/>
     <element name="usageSinceReset" type="xsd:double"/>
     <element name="entitled" type="xsd:double"/>
     <element name="overageSinceStatement" type="xsd:double"/>
     <element name="overageSinceReset" type="xsd:double"/>
     <element name="percentSinceReset" type="xsd:double"/>
     <element name="resetIntervalUnitName" type="xsd:string"/>
     <element name="resetInterval" type="xsd:long"/>
     <element name="period" type="impl:Period"/>
     <element name="entitledScaled" type="xsd:double"/>
     <element name="friendlyName" type="xsd:string"/>
     <element name="gracePeriod" type="xsd:long"/>
     <element name="gracePeriodUnitName" type="xsd:string"/>
     <element name="overageSinceResetScaled" type="xsd:double"/>
     <element name="overageSinceStatementScaled" type="xsd:double"/>
     <element name="percentSinceStatement" type="xsd:double"/>
     <element name="reconciliationTimeZone" type="xsd:string"/>
     <element name="scale" type="xsd:double"/>
     <element name="statementInterval" type="xsd:long"/>
     <element name="statementIntervalUnitName" type="xsd:string"/>
     <element name="usageSinceResetScaled" type="xsd:double"/>
     <element name="usageSinceStatement" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="GetUsageResponse">
    <complexType>
     <sequence>
      <element name="statusInfoType" type="impl:StatusInfoType"/>
      <element maxOccurs="unbounded" name="usages" type="impl:Usage"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUsageRequest">

      <wsdl:part element="impl:GetUsageRequest" name="GetUsageRequest"/>

   </wsdl:message>

   <wsdl:message name="getUsageResponse">

      <wsdl:part element="impl:GetUsageResponse" name="GetUsageResponse"/>

   </wsdl:message>

   <wsdl:portType name="UsageService">

      <wsdl:operation name="getUsage" parameterOrder="GetUsageRequest">

         <wsdl:input message="impl:getUsageRequest" name="getUsageRequest"/>

         <wsdl:output message="impl:getUsageResponse" name="getUsageResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UsageServiceSoapBinding" type="impl:UsageService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUsage">

         <wsdlsoap:operation soapAction="urn:com.flexnet.webservices.usage/getUsage"/>

         <wsdl:input name="getUsageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UsageService">

      <wsdl:port binding="impl:UsageServiceSoapBinding" name="UsageService">

         <wsdlsoap:address location="http://localhost/flexnet/services/UsageService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
