wsdls/v3/ManageDeviceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:v3.fne.webservices.operations.flexnet.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:v3.fne.webservices.operations.flexnet.com" xmlns:intf="urn:v3.fne.webservices.operations.flexnet.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:v3.fne.webservices.operations.flexnet.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <simpleType name="WSDeviceType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="CLIENT"/>
     <enumeration value="SERVER"/>
     <enumeration value="SERVED_CLIENT"/>
    </restriction>
   </simpleType>
   <complexType name="ServerIdsType">
    <sequence>
     <element maxOccurs="unbounded" name="serverId" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="deviceIdTypeType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="UNKNOWN"/>
     <enumeration value="STRING"/>
     <enumeration value="ETHERNET"/>
     <enumeration value="FLEXID9"/>
     <enumeration value="FLEXID10"/>
     <enumeration value="VM_UUID"/>
     <enumeration value="INTERNET"/>
     <enumeration value="INTERNET6"/>
     <enumeration value="USER"/>
     <enumeration value="TOLERANT"/>
     <enumeration value="EXTENDED"/>
     <enumeration value="PUBLISHER_DEFINED"/>
     <enumeration value="CONTAINER_ID"/>
    </restriction>
   </simpleType>
   <complexType name="createDeviceIdentifier">
    <sequence>
     <element name="deviceType" type="impl:WSDeviceType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="serverIds" type="impl:ServerIdsType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceIdType" type="impl:deviceIdTypeType"/>
     <element maxOccurs="1" minOccurs="0" name="publisherName" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="hostTypeIdentifier">
    <sequence>
     <element name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="publisherIdentifier">
    <sequence>
     <element name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="accountPKType">
    <sequence>
     <element name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="accountIdentifierType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="primaryKeys" type="impl:accountPKType"/>
    </sequence>
   </complexType>
   <complexType name="userPKType">
    <sequence>
     <element name="firstName" type="xsd:string"/>
     <element name="lastName" type="xsd:string"/>
     <element name="emailAddress" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="userIdentifierType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="primaryKeys" type="impl:userPKType"/>
    </sequence>
   </complexType>
   <complexType name="channelPartnerDataType">
    <sequence>
     <element name="tierName" type="xsd:string"/>
     <element name="accountUnit" type="impl:accountIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="contact" type="impl:userIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="currentOwner" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="channelPartnerDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="channelPartner" type="impl:channelPartnerDataType"/>
    </sequence>
   </complexType>
   <complexType name="attributeDescriptorType">
    <sequence>
     <element name="attributeName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="stringValue" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="dateValue" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="booleanValue" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="integerValue" type="xsd:integer"/>
     <element maxOccurs="unbounded" minOccurs="0" name="arrayValue" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="attributeDescriptorDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="attribute" type="impl:attributeDescriptorType"/>
    </sequence>
   </complexType>
   <simpleType name="deployment">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="LOCAL"/>
     <enumeration value="CLOUD"/>
    </restriction>
   </simpleType>
   <complexType name="deviceDataType">
    <sequence>
     <element name="deviceIdentifier" type="impl:createDeviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="impl:hostTypeIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="publisherIdName" type="impl:publisherIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="channelPartners" type="impl:channelPartnerDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
     <element maxOccurs="1" minOccurs="0" name="alias" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="user" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="deployment" type="impl:deployment"/>
     <element maxOccurs="1" minOccurs="0" name="siteName" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="createDevRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="device" type="impl:deviceDataType"/>
    </sequence>
   </complexType>
   <element name="createDeviceRequest" type="impl:createDevRequestType"/>
   <simpleType name="OpsEmbeddedStatusType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="SUCCESS"/>
     <enumeration value="FAILURE"/>
     <enumeration value="PARTIAL_FAILURE"/>
     <enumeration value="NOT_SUPPORTED"/>
    </restriction>
   </simpleType>
   <complexType name="OpsEmbeddedStatusInfoType">
    <sequence>
     <element name="status" type="impl:OpsEmbeddedStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedCreateDeviceDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="device" type="impl:deviceDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedCreateDevDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedDevice" type="impl:failedCreateDeviceDataType"/>
    </sequence>
   </complexType>
   <complexType name="deviceIdentifier">
    <sequence>
     <element name="deviceType" type="impl:WSDeviceType"/>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="deviceId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="serverIds" type="impl:ServerIdsType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceIdType" type="impl:deviceIdTypeType"/>
     <element maxOccurs="1" minOccurs="0" name="publisherName" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="createdDeviceDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="createDevResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedCreateDevDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:createdDeviceDataListType"/>
    </sequence>
   </complexType>
   <element name="createDeviceResponse" type="impl:createDevResponseType"/>
   <complexType name="deleteDeviceRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="deviceIdentifier" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <element name="deleteDeviceRequest" type="impl:deleteDeviceRequestType"/>
   <complexType name="failedDeleteDevDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedDeleteDevDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedDevice" type="impl:failedDeleteDevDataType"/>
    </sequence>
   </complexType>
   <complexType name="deleteDeviceResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedDeleteDevDataListType"/>
    </sequence>
   </complexType>
   <element name="deleteDeviceResponse" type="impl:deleteDeviceResponseType"/>
   <simpleType name="CollectionOperationType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="REPLACE"/>
     <enumeration value="ADD"/>
     <enumeration value="DELETE"/>
    </restriction>
   </simpleType>
   <complexType name="updateChannelPartnerDataListType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="channelPartners" type="impl:channelPartnerDataListType"/>
     <element name="opType" type="impl:CollectionOperationType"/>
    </sequence>
   </complexType>
   <complexType name="updateDevDataType">
    <sequence>
     <element name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="deviceId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="serverIds" type="impl:ServerIdsType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceIdType" type="impl:deviceIdTypeType"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="impl:hostTypeIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="publisherIdName" type="impl:publisherIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="updateChannelPartners" type="impl:updateChannelPartnerDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
     <element maxOccurs="1" minOccurs="0" name="alias" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="user" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="siteName" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="updateDevRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="device" type="impl:updateDevDataType"/>
    </sequence>
   </complexType>
   <element name="updateDeviceRequest" type="impl:updateDevRequestType"/>
   <complexType name="failedUpdateDeviceDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="device" type="impl:updateDevDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedUpdateDevDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedDevice" type="impl:failedUpdateDeviceDataType"/>
    </sequence>
   </complexType>
   <complexType name="updatedDeviceDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="updateDevResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedUpdateDevDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:updatedDeviceDataListType"/>
    </sequence>
   </complexType>
   <element name="updateDeviceResponse" type="impl:updateDevResponseType"/>
   <complexType name="productPKType">
    <sequence>
     <element name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="version" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="productIdentifierType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="primaryKeys" type="impl:productPKType"/>
     <element maxOccurs="1" minOccurs="0" name="productLine" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="licenseModelPKType">
    <sequence>
     <element name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="licenseModelIdentifierType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="primaryKeys" type="impl:licenseModelPKType"/>
    </sequence>
   </complexType>
   <simpleType name="DurationUnit">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="DAYS"/>
     <enumeration value="WEEKS"/>
     <enumeration value="MONTHS"/>
     <enumeration value="YEARS"/>
    </restriction>
   </simpleType>
   <complexType name="DurationType">
    <sequence>
     <element name="numDuration" type="xsd:integer"/>
     <element name="durationUnit" type="impl:DurationUnit"/>
    </sequence>
   </complexType>
   <complexType name="generatePrebuiltLicenseDataType">
    <sequence>
     <element name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="product" type="impl:productIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="licenseModel" type="impl:licenseModelIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="licenseModelAttributes" type="impl:attributeDescriptorDataType"/>
     <element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="isPermanent" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="term" type="impl:DurationType"/>
     <element maxOccurs="1" minOccurs="0" name="expirationDate" type="xsd:date"/>
    </sequence>
   </complexType>
   <complexType name="generatePrebuiltLicenseRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="requestDataList" type="impl:generatePrebuiltLicenseDataType"/>
    </sequence>
   </complexType>
   <element name="generatePrebuiltLicenseRequest" type="impl:generatePrebuiltLicenseRequestType"/>
   <complexType name="failedGeneratePrebuiltLicenseDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedGeneratePrebuiltLicenseDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedDevice" type="impl:failedGeneratePrebuiltLicenseDataType"/>
    </sequence>
   </complexType>
   <complexType name="generatePrebuiltLicenseDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="generatePrebuiltLicenseResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedGeneratePrebuiltLicenseDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:generatePrebuiltLicenseDataListType"/>
    </sequence>
   </complexType>
   <element name="generatePrebuiltLicenseResponse" type="impl:generatePrebuiltLicenseResponseType"/>
   <simpleType name="simpleSearchType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="STARTS_WITH"/>
     <enumeration value="CONTAINS"/>
     <enumeration value="ENDS_WITH"/>
     <enumeration value="EQUALS"/>
    </restriction>
   </simpleType>
   <complexType name="SimpleQueryType">
    <sequence>
     <element name="value" type="xsd:string"/>
     <element name="searchType" type="impl:simpleSearchType"/>
    </sequence>
   </complexType>
   <simpleType name="enumSearchType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="EQUALS"/>
     <enumeration value="NOT_EQUALS"/>
    </restriction>
   </simpleType>
   <complexType name="DeviceIdTypeQueryType">
    <sequence>
     <element name="value" type="impl:deviceIdTypeType"/>
     <element name="searchType" type="impl:enumSearchType"/>
    </sequence>
   </complexType>
   <simpleType name="deviceStatusType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="ACTIVE"/>
     <enumeration value="OBSOLETE"/>
     <enumeration value="TEST"/>
     <enumeration value="RETURNED"/>
    </restriction>
   </simpleType>
   <complexType name="DeviceStateQueryType">
    <sequence>
     <element name="value" type="impl:deviceStatusType"/>
     <element name="searchType" type="impl:simpleSearchType"/>
    </sequence>
   </complexType>
   <complexType name="deviceTypeList">
    <sequence>
     <element maxOccurs="unbounded" name="deviceType" type="impl:WSDeviceType"/>
    </sequence>
   </complexType>
   <complexType name="getDevicesParametersType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="alias" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceIdType" type="impl:DeviceIdTypeQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="parentId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="soldTo" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="soldToAcctId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:DeviceStateQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="addOnActivationId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProductName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProductVersion" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="featureName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="isServer" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="deviceTypes" type="impl:deviceTypeList"/>
     <element maxOccurs="1" minOccurs="0" name="userString" type="impl:SimpleQueryType"/>
    </sequence>
   </complexType>
   <complexType name="deviceResponseConfigRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="alias" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="servedStatus" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="soldTo" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="channelPartners" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="preBuiltLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnActivationId" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnCounts" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProduct" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnExpirationDateOverride" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnCreatedDate" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnLastModifiedDate" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="publisherIdentity" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="parent" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="machineType" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="vmDetails" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="vmInfo" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="vendorDictionary" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="updates" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="deviceUser" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="getDevicesRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="queryParams" type="impl:getDevicesParametersType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceResponseConfig" type="impl:deviceResponseConfigRequestType"/>
     <element name="pageNumber" nillable="true" type="xsd:integer"/>
     <element name="batchSize" nillable="true" type="xsd:integer"/>
    </sequence>
   </complexType>
   <element name="getDevicesRequest" type="impl:getDevicesRequestType"/>
   <complexType name="failedGetDevicesDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="deviceServedStatusType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="NORMAL"/>
     <enumeration value="RETURNED"/>
     <enumeration value="EXPIRED"/>
     <enumeration value="DROPPED"/>
    </restriction>
   </simpleType>
   <complexType name="soldToType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="displayName" type="xsd:string"/>
     <element name="id" type="xsd:string"/>
     <element name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="soldToAcctNameType">
    <sequence>
     <element name="displayName" type="xsd:string"/>
     <element name="id" type="xsd:string"/>
     <element name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="licenseStateType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="UNDEFINED"/>
     <enumeration value="LICENSE_NOT_GENERATED"/>
     <enumeration value="LICENSE_GENERATED"/>
     <enumeration value="MARKED_FOR_REMOVAL"/>
     <enumeration value="REMOVED_FROM_LICENSE"/>
     <enumeration value="REMOVAL_PENDING_CONFIRMATION"/>
     <enumeration value="COPIES_INCREASING"/>
     <enumeration value="COPIES_DECREASING"/>
     <enumeration value="WAITING_FOR_CONFIRMATION"/>
     <enumeration value="EXPIRED"/>
     <enumeration value="OBSOLETE"/>
     <enumeration value="INACTIVE"/>
    </restriction>
   </simpleType>
   <complexType name="entitledProductDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="product" type="impl:productIdentifierType"/>
     <element name="quantity" type="xsd:integer"/>
    </sequence>
   </complexType>
   <complexType name="entitledProductDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="entitledProduct" type="impl:entitledProductDataType"/>
    </sequence>
   </complexType>
   <complexType name="addonLineItemDataDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="activationId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="enabledCount" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="consumedCount" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="licenseState" type="impl:licenseStateType"/>
     <element maxOccurs="1" minOccurs="0" name="entitledProducts" type="impl:entitledProductDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="licenseExpirationDate" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="expirationDateOverride" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="createdDate" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="featureDataDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="version" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="count" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="overage" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="expiration" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="lineItemUniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="lineItemActivationId" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="machineTypeType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="UNKNOWN"/>
     <enumeration value="PHYSICAL"/>
     <enumeration value="VIRTUAL"/>
    </restriction>
   </simpleType>
   <complexType name="dictionaryEntry">
    <sequence>
     <element name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="stringValue" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="numberValue" type="xsd:integer"/>
    </sequence>
   </complexType>
   <complexType name="dictionaryType">
    <sequence>
     <element maxOccurs="unbounded" name="entry" type="impl:dictionaryEntry"/>
    </sequence>
   </complexType>
   <complexType name="deviceQueryDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="alias" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="impl:hostTypeIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="deviceStatus" type="impl:deviceStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceServedStatus" type="impl:deviceServedStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="channelPartners" type="impl:channelPartnerDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="soldTo" type="impl:soldToType"/>
     <element maxOccurs="1" minOccurs="0" name="soldToAcctName" type="impl:soldToAcctNameType"/>
     <element maxOccurs="1" minOccurs="0" name="preBuiltProduct" type="impl:productPKType"/>
     <element maxOccurs="1" minOccurs="0" name="hasPrebuiltLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="prebuiltLicense" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="hasAddonLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addonLicense" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="publisherIdName" type="impl:publisherIdentifier"/>
     <element maxOccurs="unbounded" minOccurs="0" name="addonLineItemData" type="impl:addonLineItemDataDataType"/>
     <element maxOccurs="unbounded" minOccurs="0" name="featureData" type="impl:featureDataDataType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
     <element maxOccurs="1" minOccurs="0" name="parentIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="machineType" type="impl:machineTypeType"/>
     <element maxOccurs="1" minOccurs="0" name="vmName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="vmInfo" type="impl:dictionaryType"/>
     <element maxOccurs="1" minOccurs="0" name="vendorDictionary" type="impl:dictionaryType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceUser" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="deviceUserIdentifier" type="impl:userIdentifierType"/>
    </sequence>
   </complexType>
   <complexType name="getDevicesResponseDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="device" type="impl:deviceQueryDataType"/>
    </sequence>
   </complexType>
   <complexType name="getDevicesResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedGetDevicesDataType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getDevicesResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getDevicesResponse" type="impl:getDevicesResponseType"/>
   <complexType name="getDevicesCountRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="queryParams" type="impl:getDevicesParametersType"/>
    </sequence>
   </complexType>
   <element name="getDeviceCountRequest" type="impl:getDevicesCountRequestType"/>
   <complexType name="getDeviceCountResponseDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="count" type="xsd:integer"/>
    </sequence>
   </complexType>
   <complexType name="getDeviceCountResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedGetDevicesDataType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getDeviceCountResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getDeviceCountResponse" type="impl:getDeviceCountResponseType"/>
   <complexType name="linkLineItemIdentifier">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="activationId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="count" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="expirationDateOverride" type="xsd:date"/>
    </sequence>
   </complexType>
   <complexType name="linkLineItemDataType">
    <sequence>
     <element name="lineItemIdentifier" type="impl:linkLineItemIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="linkAddonLineItemDataType">
    <sequence>
     <element name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="unbounded" name="lineItem" type="impl:linkLineItemDataType"/>
    </sequence>
   </complexType>
   <complexType name="linkAddonLineItemsRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="requestList" type="impl:linkAddonLineItemDataType"/>
    </sequence>
   </complexType>
   <element name="linkAddonLineItemsRequest" type="impl:linkAddonLineItemsRequestType"/>
   <complexType name="linkFailAddonDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="lineItem" type="impl:linkLineItemDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="linkFailAddonDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failAddon" type="impl:linkFailAddonDataType"/>
    </sequence>
   </complexType>
   <complexType name="successAddonDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="linkAddonLineItemsResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:linkFailAddonDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:successAddonDataListType"/>
    </sequence>
   </complexType>
   <element name="linkAddonLineItemsResponse" type="impl:linkAddonLineItemsResponseType"/>
   <complexType name="deleteLineItemIdentifier">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="activationId" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="deleteLineItemDataType">
    <sequence>
     <element name="lineItemIdentifier" type="impl:deleteLineItemIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="deleteAddonLineItemDataType">
    <sequence>
     <element name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="unbounded" name="lineItem" type="impl:deleteLineItemDataType"/>
    </sequence>
   </complexType>
   <complexType name="deleteAddonLineItemsRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="requestList" type="impl:deleteAddonLineItemDataType"/>
    </sequence>
   </complexType>
   <element name="deleteAddonLineItemsRequest" type="impl:deleteAddonLineItemsRequestType"/>
   <complexType name="deleteFailAddonDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="lineItem" type="impl:deleteLineItemDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="deleteFailAddonDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failAddon" type="impl:deleteFailAddonDataType"/>
    </sequence>
   </complexType>
   <complexType name="deleteAddonLineItemsResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:deleteFailAddonDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:successAddonDataListType"/>
    </sequence>
   </complexType>
   <element name="deleteAddonLineItemsResponse" type="impl:deleteAddonLineItemsResponseType"/>
   <element name="incrementAddonLineItemsRequest" type="impl:linkAddonLineItemsRequestType"/>
   <element name="incrementAddonLineItemsResponse" type="impl:linkAddonLineItemsResponseType"/>
   <element name="decrementAddonLineItemsRequest" type="impl:linkAddonLineItemsRequestType"/>
   <element name="decrementAddonLineItemsResponse" type="impl:linkAddonLineItemsResponseType"/>
   <complexType name="generateCapabilityResponseDictionaryEntry">
    <sequence>
     <element name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="stringValue" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="numberValue" type="xsd:integer"/>
    </sequence>
   </complexType>
   <complexType name="generateCapabilityResponseDictionary">
    <sequence>
     <element maxOccurs="unbounded" name="entry" type="impl:generateCapabilityResponseDictionaryEntry"/>
    </sequence>
   </complexType>
   <complexType name="capabilityRequestType">
    <sequence>
     <element name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="lastUpdateTime" type="xsd:long"/>
     <element maxOccurs="1" minOccurs="0" name="force" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="vendorDictionary" type="impl:generateCapabilityResponseDictionary"/>
     <element maxOccurs="unbounded" minOccurs="0" name="lineItem" type="impl:linkLineItemDataType"/>
     <element maxOccurs="1" minOccurs="0" name="bufferLicense" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="generateCapabilityResponseRequestType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="device" type="impl:capabilityRequestType"/>
     <element maxOccurs="unbounded" minOccurs="0" name="request" type="xsd:base64Binary"/>
    </sequence>
   </complexType>
   <element name="generateCapabilityResponseRequest" type="impl:generateCapabilityResponseRequestType"/>
   <complexType name="failedCapabilityResponseDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedGenerateCapabilityResponseDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedDevice" type="impl:failedCapabilityResponseDataType"/>
    </sequence>
   </complexType>
   <complexType name="capabilityResponseDataType">
    <sequence>
     <element name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element name="addonLicense" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="bufferLicense" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="generateCapabilityResponseDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="device" type="impl:capabilityResponseDataType"/>
    </sequence>
   </complexType>
   <complexType name="generateCapabilityResponseResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedGenerateCapabilityResponseDataType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:generateCapabilityResponseDataType"/>
    </sequence>
   </complexType>
   <element name="generateCapabilityResponseResponse" type="impl:generateCapabilityResponseResponseType"/>
   <complexType name="moveDeviceList">
    <sequence>
     <element maxOccurs="unbounded" name="deviceIdentifier" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="moveDeviceRequestType">
    <sequence>
     <element name="sourceDevices" type="impl:moveDeviceList"/>
     <element maxOccurs="1" minOccurs="0" name="soldToUniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="soldToName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="poolEntitlements" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <element name="moveDeviceRequest" type="impl:moveDeviceRequestType"/>
   <complexType name="failedMoveDeviceDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedMoveDeviceListDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedDevice" type="impl:failedMoveDeviceDataType"/>
    </sequence>
   </complexType>
   <complexType name="moveDeviceResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedMoveDeviceListDataType"/>
    </sequence>
   </complexType>
   <element name="moveDeviceResponse" type="impl:moveDeviceResponseType"/>
   <simpleType name="deviceClass">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="CLIENT"/>
     <enumeration value="SERVER"/>
     <enumeration value="SERVED_CLIENT"/>
    </restriction>
   </simpleType>
   <complexType name="deviceId">
    <sequence>
     <element name="id" type="xsd:string"/>
     <element name="idType" type="impl:deviceIdTypeType"/>
     <element name="publisherName" type="xsd:string"/>
     <element name="deviceClass" type="impl:deviceClass"/>
    </sequence>
   </complexType>
   <complexType name="getDeviceResponseConfigType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="servedStatus" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="hosted" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="soldTo" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="baseProduct" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="hasLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="bufferLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnActivationId" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnCounts" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProduct" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProductLine" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnPartNumber" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnExpirationDateOverride" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnEntitlementExpirationDate" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnCreatedDate" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnLastModifiedDate" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnEntitlementId" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnState" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnLicenseModel" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="features" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="publisherIdentity" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="parent" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="machineType" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="vmDetails" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="vmInfo" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="vendorDictionary" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="updates" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="userInfo" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="lastRequestTime" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="lastSyncTime" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="getDeviceRequestType">
    <sequence>
     <element name="deviceId" type="impl:deviceId"/>
     <element maxOccurs="1" minOccurs="0" name="responseConfig" type="impl:getDeviceResponseConfigType"/>
    </sequence>
   </complexType>
   <element name="getDeviceRequest" type="impl:getDeviceRequestType"/>
   <complexType name="failedGetDeviceDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="servedStatusType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="NORMAL"/>
     <enumeration value="RETURNED"/>
     <enumeration value="EXPIRED"/>
     <enumeration value="DROPPED"/>
    </restriction>
   </simpleType>
   <complexType name="addonData">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="activationId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entitlementId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="requestedCopies" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="consumedCopies" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="generatedCopies" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="licenseState" type="impl:licenseStateType"/>
     <element maxOccurs="1" minOccurs="0" name="productList" type="impl:entitledProductDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="partNumber" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="licenseExpirationDate" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="licensePermanent" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="expirationDateOverride" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="licenseModelName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="createdDate" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="lastModifiedDate" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="updatesType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="updateId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="downloadPackageId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="platform" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="statusReason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="getDeviceResponseData">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceId" type="impl:deviceId"/>
     <element maxOccurs="1" minOccurs="0" name="backupDeviceId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:deviceStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="servedStatus" type="impl:servedStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="hosted" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="soldTo" type="impl:soldToType"/>
     <element maxOccurs="1" minOccurs="0" name="baseProduct" type="impl:productPKType"/>
     <element maxOccurs="1" minOccurs="0" name="hasBufferLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="bufferLicense" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="hasAddonLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addonLicense" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="publisherIdName" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="addon" type="impl:addonData"/>
     <element maxOccurs="unbounded" minOccurs="0" name="feature" type="impl:featureDataDataType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
     <element maxOccurs="1" minOccurs="0" name="parentIdentifier" type="impl:deviceId"/>
     <element maxOccurs="1" minOccurs="0" name="machineType" type="impl:machineTypeType"/>
     <element maxOccurs="1" minOccurs="0" name="vmName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="vmInfo" type="impl:dictionaryType"/>
     <element maxOccurs="1" minOccurs="0" name="vendorDictionary" type="impl:dictionaryType"/>
     <element maxOccurs="unbounded" minOccurs="0" name="update" type="impl:updatesType"/>
     <element maxOccurs="1" minOccurs="0" name="userString" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="userIdentifier" type="impl:userIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="lastModified" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="lastSyncTime" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="lastRequestTime" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="getDeviceResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedDevice" type="impl:failedGetDeviceDataType"/>
     <element maxOccurs="1" minOccurs="0" name="device" type="impl:getDeviceResponseData"/>
    </sequence>
   </complexType>
   <element name="getDeviceResponse" type="impl:getDeviceResponseType"/>
   <complexType name="deviceClassList">
    <sequence>
     <element maxOccurs="unbounded" name="deviceClass" type="impl:WSDeviceType"/>
    </sequence>
   </complexType>
   <complexType name="DeviceStatusQueryType">
    <sequence>
     <element name="value" type="impl:deviceStatusType"/>
     <element name="searchType" type="impl:enumSearchType"/>
    </sequence>
   </complexType>
   <complexType name="searchDevicesParametersType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="name" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceIdType" type="impl:DeviceIdTypeQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="deviceClasses" type="impl:deviceClassList"/>
     <element maxOccurs="1" minOccurs="0" name="hosted" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="parentId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="soldTo" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="soldToAcctId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:DeviceStatusQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="addOnEntitlementId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="addOnActivationId" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProductName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProductVersion" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="addOnPartNumber" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="featureName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="userString" type="impl:SimpleQueryType"/>
    </sequence>
   </complexType>
   <complexType name="searchDeviceResponseConfigType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="servedStatus" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="hosted" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="soldTo" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="hasLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="bufferLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="publisherIdentity" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="parent" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="machineType" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="vmDetails" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="userInfo" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="lastRequestTime" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="lastSyncTime" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnActivationId" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnCounts" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProduct" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnProductLine" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnPartNumber" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addOnEntitlementId" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="hasUpdates" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <simpleType name="deviceSortKey">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="DEVICE_ID"/>
     <enumeration value="NAME"/>
     <enumeration value="LAST_MODIFIED_DATE"/>
     <enumeration value="SOLD_TO_ACCOUNT_ID"/>
     <enumeration value="SOLD_TO_ACCOUNT_NAME"/>
     <enumeration value="DEVICE_ID_TYPE"/>
     <enumeration value="DEVICE_CLASS"/>
     <enumeration value="HOST_TYPE_NAME"/>
     <enumeration value="HOST_TYPE_ALIAS"/>
     <enumeration value="HOST_SERIES_NAME"/>
     <enumeration value="SIGNATURE_NAME"/>
     <enumeration value="STATUS"/>
     <enumeration value="PARENT_IDENTIFIER"/>
     <enumeration value="USER"/>
     <enumeration value="MACHINE_TYPE"/>
    </restriction>
   </simpleType>
   <complexType name="deviceSortBy">
    <sequence>
     <element name="sortKey" type="impl:deviceSortKey"/>
     <element name="ascending" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="deviceSortBys">
    <sequence>
     <element maxOccurs="unbounded" name="sortBy" type="impl:deviceSortBy"/>
    </sequence>
   </complexType>
   <complexType name="searchDevicesRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="queryParams" type="impl:searchDevicesParametersType"/>
     <element maxOccurs="1" minOccurs="0" name="responseConfig" type="impl:searchDeviceResponseConfigType"/>
     <element maxOccurs="1" minOccurs="0" name="sortBys" type="impl:deviceSortBys"/>
     <element maxOccurs="1" minOccurs="0" name="pageNumber" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="batchSize" type="xsd:integer"/>
    </sequence>
   </complexType>
   <element name="searchDevicesRequest" type="impl:searchDevicesRequestType"/>
   <complexType name="failedSearchDevicesData">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="searchDeviceResponseData">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="deviceId" type="impl:deviceId"/>
     <element maxOccurs="1" minOccurs="0" name="backupDeviceId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="hostTypeName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:deviceStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="servedStatus" type="impl:servedStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="hosted" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="soldTo" type="impl:soldToType"/>
     <element maxOccurs="1" minOccurs="0" name="hasBufferLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="bufferLicense" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="hasAddonLicense" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="addonLicense" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="publisherIdName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="parentIdentifier" type="impl:deviceId"/>
     <element maxOccurs="1" minOccurs="0" name="machineType" type="impl:machineTypeType"/>
     <element maxOccurs="1" minOccurs="0" name="vmName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="userString" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="userIdentifier" type="impl:userIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="lastModified" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="lastSyncTime" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="lastRequestTime" type="xsd:dateTime"/>
     <element maxOccurs="unbounded" minOccurs="0" name="addon" type="impl:addonData"/>
     <element maxOccurs="1" minOccurs="0" name="hasUpdates" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="searchDevicesResponseData">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="device" type="impl:searchDeviceResponseData"/>
    </sequence>
   </complexType>
   <complexType name="searchDevicesResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failed" type="impl:failedSearchDevicesData"/>
     <element maxOccurs="1" minOccurs="0" name="devices" type="impl:searchDevicesResponseData"/>
    </sequence>
   </complexType>
   <element name="searchDevicesResponse" type="impl:searchDevicesResponseType"/>
   <complexType name="countDevicesRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="queryParams" type="impl:searchDevicesParametersType"/>
    </sequence>
   </complexType>
   <element name="countDevicesRequest" type="impl:countDevicesRequestType"/>
   <complexType name="failedCountDevicesData">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="countDevicesResponseData">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="count" type="xsd:integer"/>
    </sequence>
   </complexType>
   <complexType name="countDevicesResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedCountDevicesData"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:countDevicesResponseData"/>
    </sequence>
   </complexType>
   <element name="countDevicesResponse" type="impl:countDevicesResponseType"/>
   <complexType name="returnHostType">
    <sequence>
     <element name="hostIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="targetHostIdentifier" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="returnHostRequestListType">
    <sequence>
     <element maxOccurs="unbounded" name="returnHosts" type="impl:returnHostType"/>
    </sequence>
   </complexType>
   <element name="returnHostRequest" type="impl:returnHostRequestListType"/>
   <complexType name="failedReturnHostDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="hostIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedReturnHostListDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedHost" type="impl:failedReturnHostDataType"/>
    </sequence>
   </complexType>
   <complexType name="returnHostResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedReturnHostListDataType"/>
    </sequence>
   </complexType>
   <element name="returnHostResponse" type="impl:returnHostResponseType"/>
   <complexType name="obsoleteHostType">
    <sequence>
     <element name="hostIdentifier" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <complexType name="obsoleteHostRequestListType">
    <sequence>
     <element maxOccurs="unbounded" name="host" type="impl:obsoleteHostType"/>
    </sequence>
   </complexType>
   <element name="obsoleteHostRequest" type="impl:obsoleteHostRequestListType"/>
   <complexType name="failedObsoleteHostDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="hostIdentifier" type="impl:deviceIdentifier"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedObsoleteHostListDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedHost" type="impl:failedObsoleteHostDataType"/>
    </sequence>
   </complexType>
   <complexType name="obsoleteHostResponseType">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedObsoleteHostListDataType"/>
    </sequence>
   </complexType>
   <element name="obsoleteHostResponse" type="impl:obsoleteHostResponseType"/>
   <complexType name="getAutoProvisionedServerRequest">
    <sequence>
     <element name="acctName" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getAutoProvisionedServerRequest" type="impl:getAutoProvisionedServerRequest"/>
   <complexType name="getAutoProvisionedServerResponse">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="cloudLicenseServer" type="impl:deviceIdentifier"/>
    </sequence>
   </complexType>
   <element name="getAutoProvisionedServerResponse" type="impl:getAutoProvisionedServerResponse"/>
   <complexType name="generateCloneDetectionReportRequest">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="enterpriseIds" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" name="enterpriseId" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element name="startDate" type="xsd:dateTime"/>
     <element name="endDate" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="pageNumber" type="xsd:integer"/>
     <element maxOccurs="1" minOccurs="0" name="batchSize" type="xsd:integer"/>
    </sequence>
   </complexType>
   <element name="generateCloneDetectionReportRequest" type="impl:generateCloneDetectionReportRequest"/>
   <complexType name="featureIds">
    <sequence>
     <element name="featureId" type="xsd:string"/>
     <element name="featureName" type="xsd:string"/>
     <element name="count" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="cloneSuspect">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="timeStamp" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="hostClass" type="impl:WSDeviceType"/>
     <element maxOccurs="1" minOccurs="0" name="hostAlias" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="deviceId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="serverId" type="xsd:string"/>
     <element name="lineItemActivationIds" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" name="lineItemActivationId" type="xsd:string"/>
       </sequence>
      </complexType>
     </element>
     <element maxOccurs="unbounded" name="featureIds" type="impl:featureIds"/>
     <element maxOccurs="1" minOccurs="0" name="acctId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="acctName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="enterpriseId" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="generateCloneDetectionReportResponse">
    <sequence>
     <element name="statusInfo" type="impl:OpsEmbeddedStatusInfoType"/>
     <element name="cloneSuspects" nillable="true">
      <complexType>
       <sequence>
        <element maxOccurs="unbounded" name="cloneSuspect" type="impl:cloneSuspect"/>
       </sequence>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="generateCloneDetectionReportResponse" type="impl:generateCloneDetectionReportResponse"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="generatePrebuiltLicenseRequest">

      <wsdl:part element="impl:generatePrebuiltLicenseRequest" name="generatePrebuiltLicenseRequest"/>

   </wsdl:message>

   <wsdl:message name="decrementAddonLineItemsRequest">

      <wsdl:part element="impl:decrementAddonLineItemsRequest" name="decrementAddonLineItemsRequest"/>

   </wsdl:message>

   <wsdl:message name="deleteAddonLineItemsRequest">

      <wsdl:part element="impl:deleteAddonLineItemsRequest" name="deleteAddonLineItemsRequest"/>

   </wsdl:message>

   <wsdl:message name="updateDeviceResponse">

      <wsdl:part element="impl:updateDeviceResponse" name="updateDeviceResponse"/>

   </wsdl:message>

   <wsdl:message name="countDevicesRequest">

      <wsdl:part element="impl:countDevicesRequest" name="countDevicesRequest"/>

   </wsdl:message>

   <wsdl:message name="getDeviceRequest">

      <wsdl:part element="impl:getDeviceRequest" name="getDeviceRequest"/>

   </wsdl:message>

   <wsdl:message name="deleteDeviceRequest">

      <wsdl:part element="impl:deleteDeviceRequest" name="deleteDeviceRequest"/>

   </wsdl:message>

   <wsdl:message name="createDeviceRequest">

      <wsdl:part element="impl:createDeviceRequest" name="createDeviceRequest"/>

   </wsdl:message>

   <wsdl:message name="deleteDeviceResponse">

      <wsdl:part element="impl:deleteDeviceResponse" name="deleteDeviceResponse"/>

   </wsdl:message>

   <wsdl:message name="deleteAddonLineItemsResponse">

      <wsdl:part element="impl:deleteAddonLineItemsResponse" name="deleteAddonLineItemsResponse"/>

   </wsdl:message>

   <wsdl:message name="getDevicesQueryRequest">

      <wsdl:part element="impl:getDevicesRequest" name="getDevicesRequest"/>

   </wsdl:message>

   <wsdl:message name="generateCloneDetectionReportResponse">

      <wsdl:part element="impl:generateCloneDetectionReportResponse" name="generateCloneDetectionReportResponse"/>

   </wsdl:message>

   <wsdl:message name="obsoleteHostRequest">

      <wsdl:part element="impl:obsoleteHostRequest" name="obsoleteHostRequest"/>

   </wsdl:message>

   <wsdl:message name="moveDeviceRequest">

      <wsdl:part element="impl:moveDeviceRequest" name="moveDeviceRequest"/>

   </wsdl:message>

   <wsdl:message name="incrementAddonLineItemsResponse">

      <wsdl:part element="impl:incrementAddonLineItemsResponse" name="incrementAddonLineItemsResponse"/>

   </wsdl:message>

   <wsdl:message name="moveDeviceResponse">

      <wsdl:part element="impl:moveDeviceResponse" name="moveDeviceResponse"/>

   </wsdl:message>

   <wsdl:message name="generateCapabilityResponseResponse">

      <wsdl:part element="impl:generateCapabilityResponseResponse" name="generateCapabilityResponseResponse"/>

   </wsdl:message>

   <wsdl:message name="getAutoProvisionedServerResponse">

      <wsdl:part element="impl:getAutoProvisionedServerResponse" name="getAutoProvisionedServerResponse"/>

   </wsdl:message>

   <wsdl:message name="getDeviceResponse">

      <wsdl:part element="impl:getDeviceResponse" name="getDeviceResponse"/>

   </wsdl:message>

   <wsdl:message name="generateCapabilityResponseRequest">

      <wsdl:part element="impl:generateCapabilityResponseRequest" name="generateCapabilityResponseRequest"/>

   </wsdl:message>

   <wsdl:message name="searchDevicesRequest">

      <wsdl:part element="impl:searchDevicesRequest" name="searchDevicesRequest"/>

   </wsdl:message>

   <wsdl:message name="searchDevicesResponse">

      <wsdl:part element="impl:searchDevicesResponse" name="searchDevicesResponse"/>

   </wsdl:message>

   <wsdl:message name="generatePrebuiltLicenseResponse">

      <wsdl:part element="impl:generatePrebuiltLicenseResponse" name="generatePrebuiltLicenseResponse"/>

   </wsdl:message>

   <wsdl:message name="linkAddonLineItemsRequest">

      <wsdl:part element="impl:linkAddonLineItemsRequest" name="linkAddonLineItemsRequest"/>

   </wsdl:message>

   <wsdl:message name="getDeviceCountResponse">

      <wsdl:part element="impl:getDeviceCountResponse" name="getDeviceCountResponse"/>

   </wsdl:message>

   <wsdl:message name="returnHostResponse">

      <wsdl:part element="impl:returnHostResponse" name="returnHostResponse"/>

   </wsdl:message>

   <wsdl:message name="getDevicesQueryResponse">

      <wsdl:part element="impl:getDevicesResponse" name="getDevicesResponse"/>

   </wsdl:message>

   <wsdl:message name="returnHostRequest">

      <wsdl:part element="impl:returnHostRequest" name="returnHostRequest"/>

   </wsdl:message>

   <wsdl:message name="updateDeviceRequest">

      <wsdl:part element="impl:updateDeviceRequest" name="updateDeviceRequest"/>

   </wsdl:message>

   <wsdl:message name="incrementAddonLineItemsRequest">

      <wsdl:part element="impl:incrementAddonLineItemsRequest" name="incrementAddonLineItemsRequest"/>

   </wsdl:message>

   <wsdl:message name="decrementAddonLineItemsResponse">

      <wsdl:part element="impl:decrementAddonLineItemsResponse" name="decrementAddonLineItemsResponse"/>

   </wsdl:message>

   <wsdl:message name="obsoleteHostResponse">

      <wsdl:part element="impl:obsoleteHostResponse" name="obsoleteHostResponse"/>

   </wsdl:message>

   <wsdl:message name="getDeviceCountRequest">

      <wsdl:part element="impl:getDeviceCountRequest" name="getDeviceCountRequest"/>

   </wsdl:message>

   <wsdl:message name="linkAddonLineItemsResponse">

      <wsdl:part element="impl:linkAddonLineItemsResponse" name="linkAddonLineItemsResponse"/>

   </wsdl:message>

   <wsdl:message name="countDevicesResponse">

      <wsdl:part element="impl:countDevicesResponse" name="countDevicesResponse"/>

   </wsdl:message>

   <wsdl:message name="getAutoProvisionedServerRequest">

      <wsdl:part element="impl:getAutoProvisionedServerRequest" name="getAutoProvisionedServerRequest"/>

   </wsdl:message>

   <wsdl:message name="createDeviceResponse">

      <wsdl:part element="impl:createDeviceResponse" name="createDeviceResponse"/>

   </wsdl:message>

   <wsdl:message name="generateCloneDetectionReportRequest">

      <wsdl:part element="impl:generateCloneDetectionReportRequest" name="generateCloneDetectionReportRequest"/>

   </wsdl:message>

   <wsdl:portType name="ManageDeviceServiceInterfaceV3">

      <wsdl:operation name="createDevice" parameterOrder="createDeviceRequest">

         <wsdl:input message="impl:createDeviceRequest" name="createDeviceRequest"/>

         <wsdl:output message="impl:createDeviceResponse" name="createDeviceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteDevice" parameterOrder="deleteDeviceRequest">

         <wsdl:input message="impl:deleteDeviceRequest" name="deleteDeviceRequest"/>

         <wsdl:output message="impl:deleteDeviceResponse" name="deleteDeviceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateDevice" parameterOrder="updateDeviceRequest">

         <wsdl:input message="impl:updateDeviceRequest" name="updateDeviceRequest"/>

         <wsdl:output message="impl:updateDeviceResponse" name="updateDeviceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="generatePrebuiltLicense" parameterOrder="generatePrebuiltLicenseRequest">

         <wsdl:input message="impl:generatePrebuiltLicenseRequest" name="generatePrebuiltLicenseRequest"/>

         <wsdl:output message="impl:generatePrebuiltLicenseResponse" name="generatePrebuiltLicenseResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDevicesQuery" parameterOrder="getDevicesRequest">

         <wsdl:input message="impl:getDevicesQueryRequest" name="getDevicesQueryRequest"/>

         <wsdl:output message="impl:getDevicesQueryResponse" name="getDevicesQueryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDeviceCount" parameterOrder="getDeviceCountRequest">

         <wsdl:input message="impl:getDeviceCountRequest" name="getDeviceCountRequest"/>

         <wsdl:output message="impl:getDeviceCountResponse" name="getDeviceCountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="linkAddonLineItems" parameterOrder="linkAddonLineItemsRequest">

         <wsdl:input message="impl:linkAddonLineItemsRequest" name="linkAddonLineItemsRequest"/>

         <wsdl:output message="impl:linkAddonLineItemsResponse" name="linkAddonLineItemsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteAddonLineItems" parameterOrder="deleteAddonLineItemsRequest">

         <wsdl:input message="impl:deleteAddonLineItemsRequest" name="deleteAddonLineItemsRequest"/>

         <wsdl:output message="impl:deleteAddonLineItemsResponse" name="deleteAddonLineItemsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="incrementAddonLineItems" parameterOrder="incrementAddonLineItemsRequest">

         <wsdl:input message="impl:incrementAddonLineItemsRequest" name="incrementAddonLineItemsRequest"/>

         <wsdl:output message="impl:incrementAddonLineItemsResponse" name="incrementAddonLineItemsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="decrementAddonLineItems" parameterOrder="decrementAddonLineItemsRequest">

         <wsdl:input message="impl:decrementAddonLineItemsRequest" name="decrementAddonLineItemsRequest"/>

         <wsdl:output message="impl:decrementAddonLineItemsResponse" name="decrementAddonLineItemsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="generateCapabilityResponse" parameterOrder="generateCapabilityResponseRequest">

         <wsdl:input message="impl:generateCapabilityResponseRequest" name="generateCapabilityResponseRequest"/>

         <wsdl:output message="impl:generateCapabilityResponseResponse" name="generateCapabilityResponseResponse"/>

      </wsdl:operation>

      <wsdl:operation name="moveDevice" parameterOrder="moveDeviceRequest">

         <wsdl:input message="impl:moveDeviceRequest" name="moveDeviceRequest"/>

         <wsdl:output message="impl:moveDeviceResponse" name="moveDeviceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDevice" parameterOrder="getDeviceRequest">

         <wsdl:input message="impl:getDeviceRequest" name="getDeviceRequest"/>

         <wsdl:output message="impl:getDeviceResponse" name="getDeviceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="searchDevices" parameterOrder="searchDevicesRequest">

         <wsdl:input message="impl:searchDevicesRequest" name="searchDevicesRequest"/>

         <wsdl:output message="impl:searchDevicesResponse" name="searchDevicesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="countDevices" parameterOrder="countDevicesRequest">

         <wsdl:input message="impl:countDevicesRequest" name="countDevicesRequest"/>

         <wsdl:output message="impl:countDevicesResponse" name="countDevicesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="returnHost" parameterOrder="returnHostRequest">

         <wsdl:input message="impl:returnHostRequest" name="returnHostRequest"/>

         <wsdl:output message="impl:returnHostResponse" name="returnHostResponse"/>

      </wsdl:operation>

      <wsdl:operation name="obsoleteHost" parameterOrder="obsoleteHostRequest">

         <wsdl:input message="impl:obsoleteHostRequest" name="obsoleteHostRequest"/>

         <wsdl:output message="impl:obsoleteHostResponse" name="obsoleteHostResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAutoProvisionedServer" parameterOrder="getAutoProvisionedServerRequest">

         <wsdl:input message="impl:getAutoProvisionedServerRequest" name="getAutoProvisionedServerRequest"/>

         <wsdl:output message="impl:getAutoProvisionedServerResponse" name="getAutoProvisionedServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="generateCloneDetectionReport" parameterOrder="generateCloneDetectionReportRequest">

         <wsdl:input message="impl:generateCloneDetectionReportRequest" name="generateCloneDetectionReportRequest"/>

         <wsdl:output message="impl:generateCloneDetectionReportResponse" name="generateCloneDetectionReportResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="v3/ManageDeviceServiceSoapBinding" type="impl:ManageDeviceServiceInterfaceV3">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createDevice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDeviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createDeviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDevice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDeviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteDeviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateDevice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateDeviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateDeviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generatePrebuiltLicense">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generatePrebuiltLicenseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generatePrebuiltLicenseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDevicesQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDevicesQueryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDevicesQueryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDeviceCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDeviceCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDeviceCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="linkAddonLineItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="linkAddonLineItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="linkAddonLineItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAddonLineItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAddonLineItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteAddonLineItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="incrementAddonLineItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="incrementAddonLineItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="incrementAddonLineItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="decrementAddonLineItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="decrementAddonLineItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="decrementAddonLineItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateCapabilityResponse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateCapabilityResponseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateCapabilityResponseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="moveDevice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="moveDeviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="moveDeviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDevice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDeviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDeviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchDevices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchDevicesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchDevicesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="countDevices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="countDevicesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="countDevicesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnHost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnHostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="returnHostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obsoleteHost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obsoleteHostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obsoleteHostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAutoProvisionedServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAutoProvisionedServerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAutoProvisionedServerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateCloneDetectionReport">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateCloneDetectionReportRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateCloneDetectionReportResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="v3/ManageDeviceService">

      <wsdl:port binding="impl:v3/ManageDeviceServiceSoapBinding" name="v3/ManageDeviceService">

         <wsdlsoap:address location="http://localhost/flexnet/services/v3/ManageDeviceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
