wsdls/v3/UserAcctHierarchyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:v3.webservices.operations.flexnet.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:v3.webservices.operations.flexnet.com" xmlns:intf="urn:v3.webservices.operations.flexnet.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:v3.webservices.operations.flexnet.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="addressDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="address1" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="address2" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="city" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="state" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="zipcode" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="country" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="region" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="AcctType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="CUSTOMER"/>
     <enumeration value="PUBLISHER"/>
     <enumeration value="CHANNEL_PARTNER"/>
     <enumeration value="SELF_REGISTERED"/>
    </restriction>
   </simpleType>
   <complexType name="attributeDescriptorType">
    <sequence>
     <element name="attributeName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="stringValue" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="dateValue" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="booleanValue" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="integerValue" type="xsd:integer"/>
     <element maxOccurs="unbounded" minOccurs="0" name="arrayValue" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="attributeDescriptorDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="attribute" type="impl:attributeDescriptorType"/>
    </sequence>
   </complexType>
   <complexType name="accountDataType">
    <sequence>
     <element name="id" type="xsd:string"/>
     <element name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="address" type="impl:addressDataType"/>
     <element maxOccurs="1" minOccurs="0" name="visible" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="accountType" type="impl:AcctType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
    </sequence>
   </complexType>
   <simpleType name="CreateOrUpdateOperationType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="CREATE_OR_UPDATE"/>
     <enumeration value="CREATE_OR_IGNORE"/>
    </restriction>
   </simpleType>
   <complexType name="createAcctRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="account" type="impl:accountDataType"/>
     <element maxOccurs="1" minOccurs="0" name="opType" type="impl:CreateOrUpdateOperationType"/>
    </sequence>
   </complexType>
   <element name="createAcctRequest" type="impl:createAcctRequestType"/>
   <simpleType name="StatusType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="SUCCESS"/>
     <enumeration value="FAILURE"/>
     <enumeration value="PARTIAL_FAILURE"/>
    </restriction>
   </simpleType>
   <complexType name="StatusInfoType">
    <sequence>
     <element name="status" type="impl:StatusType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedCreateAcctDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="account" type="impl:accountDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedCreateAcctDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedAcct" type="impl:failedCreateAcctDataType"/>
    </sequence>
   </complexType>
   <complexType name="accountPKTypeUser">
    <sequence>
     <element name="id" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="accountIdentifierTypeUser">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="primaryKeys" type="impl:accountPKTypeUser"/>
    </sequence>
   </complexType>
   <complexType name="createdAccountDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="account" type="impl:accountIdentifierTypeUser"/>
    </sequence>
   </complexType>
   <complexType name="createAcctResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedCreateAcctDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:createdAccountDataListType"/>
    </sequence>
   </complexType>
   <element name="createAcctResponse" type="impl:createAcctResponseType"/>
   <complexType name="linkAccountsDataType">
    <sequence>
     <element name="parentAcct" type="impl:accountIdentifierTypeUser"/>
     <element name="subAcct" type="impl:accountIdentifierTypeUser"/>
    </sequence>
   </complexType>
   <complexType name="linkAccountsRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="acctData" type="impl:linkAccountsDataType"/>
    </sequence>
   </complexType>
   <element name="linkAccountsRequest" type="impl:linkAccountsRequestType"/>
   <complexType name="failedLinkAcctDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="acctData" type="impl:linkAccountsDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedLinkAcctDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedAcctData" type="impl:failedLinkAcctDataType"/>
    </sequence>
   </complexType>
   <complexType name="linkAccountsResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedLinkAcctDataListType"/>
    </sequence>
   </complexType>
   <element name="linkAccountsResponse" type="impl:linkAccountsResponseType"/>
   <simpleType name="CollectionOperationType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="REPLACE"/>
     <enumeration value="ADD"/>
     <enumeration value="DELETE"/>
    </restriction>
   </simpleType>
   <complexType name="updateSubAccountsListType">
    <sequence>
     <element maxOccurs="unbounded" name="subAccount" type="impl:accountIdentifierTypeUser"/>
     <element name="opType" type="impl:CollectionOperationType"/>
    </sequence>
   </complexType>
   <complexType name="updateRelatedAccountsListType">
    <sequence>
     <element maxOccurs="unbounded" name="relatedAccount" type="impl:accountIdentifierTypeUser"/>
     <element name="opType" type="impl:CollectionOperationType"/>
    </sequence>
   </complexType>
   <complexType name="updateAcctDataType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
     <element maxOccurs="1" minOccurs="0" name="id" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="address" type="impl:addressDataType"/>
     <element maxOccurs="1" minOccurs="0" name="subAccounts" type="impl:updateSubAccountsListType"/>
     <element maxOccurs="1" minOccurs="0" name="relatedAccounts" type="impl:updateRelatedAccountsListType"/>
     <element maxOccurs="1" minOccurs="0" name="visible" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
    </sequence>
   </complexType>
   <complexType name="updateAccountRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="acctData" type="impl:updateAcctDataType"/>
    </sequence>
   </complexType>
   <element name="updateAccountRequest" type="impl:updateAccountRequestType"/>
   <complexType name="failedUpdateAcctDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="acctData" type="impl:updateAcctDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedUpdateAcctDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedAccount" type="impl:failedUpdateAcctDataType"/>
    </sequence>
   </complexType>
   <complexType name="updateAccountResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedUpdateAcctDataListType"/>
    </sequence>
   </complexType>
   <element name="updateAccountResponse" type="impl:updateAccountResponseType"/>
   <complexType name="deleteAcctDataType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
     <element maxOccurs="1" minOccurs="0" name="deleteSubTree" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="deleteAccountRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="acctData" type="impl:deleteAcctDataType"/>
    </sequence>
   </complexType>
   <element name="deleteAccountRequest" type="impl:deleteAccountRequestType"/>
   <complexType name="failedDeleteAcctDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="acctData" type="impl:deleteAcctDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedDeleteAcctDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedAcct" type="impl:failedDeleteAcctDataType"/>
    </sequence>
   </complexType>
   <complexType name="deleteAccountResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedDeleteAcctDataListType"/>
    </sequence>
   </complexType>
   <element name="deleteAccountResponse" type="impl:deleteAccountResponseType"/>
   <simpleType name="simpleSearchType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="STARTS_WITH"/>
     <enumeration value="CONTAINS"/>
     <enumeration value="ENDS_WITH"/>
     <enumeration value="EQUALS"/>
    </restriction>
   </simpleType>
   <complexType name="SimpleQueryType">
    <sequence>
     <element name="value" type="xsd:string"/>
     <element name="searchType" type="impl:simpleSearchType"/>
    </sequence>
   </complexType>
   <complexType name="AcctTypeList">
    <sequence>
     <element maxOccurs="unbounded" name="acctType" type="impl:AcctType"/>
    </sequence>
   </complexType>
   <complexType name="acctCustomAttributeQueryType">
    <sequence>
     <element name="attributeName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="stringValue" type="impl:SimpleQueryType"/>
    </sequence>
   </complexType>
   <complexType name="acctCustomAttributesQueryListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="attribute" type="impl:acctCustomAttributeQueryType"/>
    </sequence>
   </complexType>
   <simpleType name="datedSearchType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="BEFORE"/>
     <enumeration value="AFTER"/>
     <enumeration value="ON"/>
    </restriction>
   </simpleType>
   <complexType name="DateTimeQueryType">
    <sequence>
     <element name="value" type="xsd:dateTime"/>
     <element name="searchType" type="impl:datedSearchType"/>
    </sequence>
   </complexType>
   <complexType name="accountQueryParametersType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="accountID" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="accountName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="address1" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="address2" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="city" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="state" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="zipcode" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="country" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="region" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="onlyRootAccounts" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="accountType" type="impl:AcctType"/>
     <element maxOccurs="1" minOccurs="0" name="accountTypeList" type="impl:AcctTypeList"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:acctCustomAttributesQueryListType"/>
     <element maxOccurs="1" minOccurs="0" name="lastModifiedDateTime" type="impl:DateTimeQueryType"/>
    </sequence>
   </complexType>
   <complexType name="getAccountsQueryRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="queryParams" type="impl:accountQueryParametersType"/>
     <element name="pageNumber" nillable="true" type="xsd:integer"/>
     <element name="batchSize" nillable="true" type="xsd:integer"/>
    </sequence>
   </complexType>
   <element name="getAccountsQueryRequest" type="impl:getAccountsQueryRequestType"/>
   <complexType name="accountDetailDataType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
     <element name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="address" type="impl:addressDataType"/>
     <element maxOccurs="1" minOccurs="0" name="visible" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="accountType" type="impl:AcctType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
     <element maxOccurs="1" minOccurs="0" name="dateLastModified" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="createdDate" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="createdBy" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="lastModifiedBy" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="getAccountsQueryResponseDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="acctData" type="impl:accountDetailDataType"/>
    </sequence>
   </complexType>
   <complexType name="getAccountsQueryResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getAccountsQueryResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getAccountsQueryResponse" type="impl:getAccountsQueryResponseType"/>
   <complexType name="DateQueryType">
    <sequence>
     <element name="value" type="xsd:date"/>
     <element name="searchType" type="impl:datedSearchType"/>
    </sequence>
   </complexType>
   <complexType name="accountUserExpiryQueryParametersType">
    <sequence>
     <element name="accountID" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="accountType" type="impl:AcctType"/>
     <element maxOccurs="1" minOccurs="0" name="expiryDate" type="impl:DateQueryType"/>
    </sequence>
   </complexType>
   <complexType name="getUserAccountsExpiryQueryRequestType">
    <sequence>
     <element name="queryParams" type="impl:accountUserExpiryQueryParametersType"/>
     <element name="pageNumber" nillable="true" type="xsd:integer"/>
     <element name="batchSize" nillable="true" type="xsd:integer"/>
    </sequence>
   </complexType>
   <element name="getUserAccountsExpiryQueryRequest" type="impl:getUserAccountsExpiryQueryRequestType"/>
   <complexType name="userPKType">
    <sequence>
     <element name="firstName" type="xsd:string"/>
     <element name="lastName" type="xsd:string"/>
     <element name="emailAddress" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="userIdentifierType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="primaryKeys" type="impl:userPKType"/>
    </sequence>
   </complexType>
   <complexType name="forceDeleteUserIdentifierType">
    <complexContent>
     <extension base="impl:userIdentifierType">
      <sequence>
       <element maxOccurs="1" minOccurs="0" name="forceDelete" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <simpleType name="UserStatusType">
    <restriction base="xsd:NMTOKEN">
     <enumeration value="Active"/>
     <enumeration value="Inactive"/>
    </restriction>
   </simpleType>
   <complexType name="userAccountRolesListType">
    <sequence>
     <element maxOccurs="unbounded" name="roleName" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="userAccountType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
     <element maxOccurs="1" minOccurs="0" name="roles" type="impl:userAccountRolesListType"/>
    </sequence>
   </complexType>
   <complexType name="userAccountsListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="acctRoles" type="impl:userAccountType"/>
    </sequence>
   </complexType>
   <complexType name="userDetailDataType">
    <sequence>
     <element name="userIdentifier" type="impl:userIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="displayName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="optIn" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="faxNumber" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="street" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="city" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="state" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="zipcode" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="country" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:UserStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="locale" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="timezone" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="shared" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="domain" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="dateCreated" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="dateLastModified" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="dateLastLogin" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="accountRolesList" type="impl:userAccountsListType"/>
     <element maxOccurs="1" minOccurs="0" name="expiryDate" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
     <element maxOccurs="1" minOccurs="0" name="createdBy" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="lastModifiedBy" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="accountExpiryType">
    <sequence>
     <element name="accountID" type="xsd:string"/>
     <element name="expiryDate" type="xsd:date"/>
    </sequence>
   </complexType>
   <complexType name="userAccountExpiryType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="userData" type="impl:userDetailDataType"/>
     <element maxOccurs="1" minOccurs="0" name="accountExpiryData" type="impl:accountExpiryType"/>
    </sequence>
   </complexType>
   <complexType name="getUserAccountsExpiryQueryResponseDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="userAccountExpiryData" type="impl:userAccountExpiryType"/>
    </sequence>
   </complexType>
   <complexType name="getUserAccountsExpiryQueryResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getUserAccountsExpiryQueryResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getUserAccountsExpiryQueryResponse" type="impl:getUserAccountsExpiryQueryResponseType"/>
   <complexType name="getAccountCountRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="queryParams" type="impl:accountQueryParametersType"/>
    </sequence>
   </complexType>
   <element name="getAccountCountRequest" type="impl:getAccountCountRequestType"/>
   <complexType name="getAccountCountResponseDataType">
    <sequence>
     <element name="count" type="xsd:integer"/>
    </sequence>
   </complexType>
   <complexType name="getAccountCountResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getAccountCountResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getAccountCountResponse" type="impl:getAccountCountResponseType"/>
   <complexType name="getParentAccountsRequestType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
    </sequence>
   </complexType>
   <element name="getParentAccountsRequest" type="impl:getParentAccountsRequestType"/>
   <complexType name="getParentAccountsResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getAccountsQueryResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getParentAccountsResponse" type="impl:getParentAccountsResponseType"/>
   <complexType name="getSubAccountsRequestType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
    </sequence>
   </complexType>
   <element name="getSubAccountsRequest" type="impl:getSubAccountsRequestType"/>
   <complexType name="getSubAccountsResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getAccountsQueryResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getSubAccountsResponse" type="impl:getSubAccountsResponseType"/>
   <complexType name="userCustomAttributeQueryType">
    <sequence>
     <element name="attributeName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="stringValue" type="impl:SimpleQueryType"/>
    </sequence>
   </complexType>
   <complexType name="userCustomAttributesQueryListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="attribute" type="impl:userCustomAttributeQueryType"/>
    </sequence>
   </complexType>
   <complexType name="userQueryParametersType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="userName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="firstName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="lastName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="displayName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="emailAddress" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="phoneNumber" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="faxNumber" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="street" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="city" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="state" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="zipcode" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="country" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="isActive" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="canLogIn" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="accountID" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="accountName" type="impl:SimpleQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:userCustomAttributesQueryListType"/>
     <element maxOccurs="1" minOccurs="0" name="lastModifiedDateTime" type="impl:DateTimeQueryType"/>
     <element maxOccurs="1" minOccurs="0" name="accountType" type="impl:AcctType"/>
     <element maxOccurs="1" minOccurs="0" name="roles" type="impl:userAccountRolesListType"/>
    </sequence>
   </complexType>
   <complexType name="getUsersQueryRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="queryParams" type="impl:userQueryParametersType"/>
     <element name="pageNumber" nillable="true" type="xsd:integer"/>
     <element name="batchSize" nillable="true" type="xsd:integer"/>
    </sequence>
   </complexType>
   <element name="getUsersQueryRequest" type="impl:getUsersQueryRequestType"/>
   <complexType name="getUsersQueryResponseDataType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="user" type="impl:userDetailDataType"/>
    </sequence>
   </complexType>
   <complexType name="getUsersQueryResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getUsersQueryResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getUsersQueryResponse" type="impl:getUsersQueryResponseType"/>
   <complexType name="getUserCountRequestType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="queryParams" type="impl:userQueryParametersType"/>
    </sequence>
   </complexType>
   <element name="getUserCountRequest" type="impl:getUserCountRequestType"/>
   <complexType name="getUserCountResponseDataType">
    <sequence>
     <element name="count" type="xsd:integer"/>
    </sequence>
   </complexType>
   <complexType name="getUserCountResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getUserCountResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getUserCountResponse" type="impl:getUserCountResponseType"/>
   <complexType name="rolePKType">
    <sequence>
     <element name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="roleIdentifierType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="primaryKeys" type="impl:rolePKType"/>
    </sequence>
   </complexType>
   <complexType name="createUserAccountRolesListType">
    <sequence>
     <element maxOccurs="unbounded" name="role" type="impl:roleIdentifierType"/>
    </sequence>
   </complexType>
   <complexType name="createUserAccountType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
     <element maxOccurs="1" minOccurs="0" name="expiryDate" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="roles" type="impl:createUserAccountRolesListType"/>
    </sequence>
   </complexType>
   <complexType name="createUserAccountsListType">
    <sequence>
     <element maxOccurs="unbounded" name="acctRoles" type="impl:createUserAccountType"/>
    </sequence>
   </complexType>
   <complexType name="createUserDataType">
    <sequence>
     <element name="firstName" type="xsd:string"/>
     <element name="lastName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="displayName" type="xsd:string"/>
     <element name="emailAddress" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="optIn" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="faxNumber" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="street" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="city" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="state" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="zipcode" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="country" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="locale" type="xsd:string"/>
     <element name="canLogin" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:UserStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="timezone" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="shared" type="xsd:boolean"/>
     <element name="acctRolesList" type="impl:createUserAccountsListType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
    </sequence>
   </complexType>
   <complexType name="createUserRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="user" type="impl:createUserDataType"/>
     <element maxOccurs="1" minOccurs="0" name="opType" type="impl:CreateOrUpdateOperationType"/>
    </sequence>
   </complexType>
   <element name="createUserRequest" type="impl:createUserRequestType"/>
   <complexType name="failedCreateUserDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="user" type="impl:createUserDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedCreateUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedUser" type="impl:failedCreateUserDataType"/>
    </sequence>
   </complexType>
   <complexType name="createdUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="user" type="impl:userIdentifierType"/>
    </sequence>
   </complexType>
   <complexType name="createUserResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedCreateUserDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:createdUserDataListType"/>
    </sequence>
   </complexType>
   <element name="createUserResponse" type="impl:createUserResponseType"/>
   <complexType name="updateUserRolesAccountListType">
    <sequence>
     <element maxOccurs="unbounded" name="role" type="impl:roleIdentifierType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserAccountType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
     <element maxOccurs="1" minOccurs="0" name="expiryDate" type="xsd:date"/>
     <element maxOccurs="1" minOccurs="0" name="roles" type="impl:updateUserRolesAccountListType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserAccountsListType">
    <sequence>
     <element maxOccurs="unbounded" name="acctRoles" type="impl:updateUserAccountType"/>
     <element name="opType" type="impl:CollectionOperationType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserDataType">
    <sequence>
     <element name="user" type="impl:userIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="firstName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="lastName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="displayName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="emailAddress" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="optIn" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="faxNumber" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="street" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="city" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="state" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="zipcode" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="country" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:UserStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="locale" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="timezone" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="shared" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="acctRolesList" type="impl:updateUserAccountsListType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="userData" type="impl:updateUserDataType"/>
    </sequence>
   </complexType>
   <element name="updateUserRequest" type="impl:updateUserRequestType"/>
   <complexType name="failedUpdateUserDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="userData" type="impl:updateUserDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedUpdateUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedUser" type="impl:failedUpdateUserDataType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedUpdateUserDataListType"/>
    </sequence>
   </complexType>
   <element name="updateUserResponse" type="impl:updateUserResponseType"/>
   <complexType name="updateUserRolesListType">
    <sequence>
     <element maxOccurs="unbounded" name="role" type="impl:roleIdentifierType"/>
     <element name="opType" type="impl:CollectionOperationType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserAccountRolesDataType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
     <element name="roles" type="impl:updateUserRolesListType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserRolesDataType">
    <sequence>
     <element name="user" type="impl:userIdentifierType"/>
     <element name="accountRoles" type="impl:updateUserAccountRolesDataType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserRolesRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="userData" type="impl:updateUserRolesDataType"/>
    </sequence>
   </complexType>
   <element name="updateUserRolesRequest" type="impl:updateUserRolesRequestType"/>
   <complexType name="failedUpdateUserRolesDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="userData" type="impl:updateUserRolesDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedUpdateUserRolesDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedUser" type="impl:failedUpdateUserRolesDataType"/>
    </sequence>
   </complexType>
   <complexType name="updateUserRolesResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedUpdateUserRolesDataListType"/>
    </sequence>
   </complexType>
   <element name="updateUserRolesResponse" type="impl:updateUserRolesResponseType"/>
   <complexType name="deleteUserRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="user" type="impl:forceDeleteUserIdentifierType"/>
    </sequence>
   </complexType>
   <element name="deleteUserRequest" type="impl:deleteUserRequestType"/>
   <complexType name="failedDeleteUserDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="user" type="impl:forceDeleteUserIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedDeleteUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedUser" type="impl:failedDeleteUserDataType"/>
    </sequence>
   </complexType>
   <complexType name="deleteUserResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedDeleteUserDataListType"/>
    </sequence>
   </complexType>
   <element name="deleteUserResponse" type="impl:deleteUserResponseType"/>
   <complexType name="relateAccountsDataType">
    <sequence>
     <element name="accountToRelate" type="impl:accountIdentifierTypeUser"/>
     <element name="relatedAccount" type="impl:accountIdentifierTypeUser"/>
    </sequence>
   </complexType>
   <complexType name="relateAccountsRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="acctData" type="impl:relateAccountsDataType"/>
    </sequence>
   </complexType>
   <element name="relateAccountsRequest" type="impl:relateAccountsRequestType"/>
   <complexType name="failedRelateAccountsDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="acctData" type="impl:relateAccountsDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedRelateAccountsDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedAcctData" type="impl:failedRelateAccountsDataType"/>
    </sequence>
   </complexType>
   <complexType name="relateAccountsResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedRelateAccountsDataListType"/>
    </sequence>
   </complexType>
   <element name="relateAccountsResponse" type="impl:relateAccountsResponseType"/>
   <complexType name="getRelatedAccountsRequestType">
    <sequence>
     <element name="account" type="impl:accountIdentifierTypeUser"/>
    </sequence>
   </complexType>
   <element name="getRelatedAccountsRequest" type="impl:getRelatedAccountsRequestType"/>
   <complexType name="getRelatedAccountsResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getAccountsQueryResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getRelatedAccountsResponse" type="impl:getRelatedAccountsResponseType"/>
   <complexType name="getUserPermissionsRequestType">
    <sequence>
     <element name="userName" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="domainName" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getUserPermissionsRequest" type="impl:getUserPermissionsRequestType"/>
   <complexType name="permissionListType">
    <sequence>
     <element maxOccurs="unbounded" name="permission" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="getUserPermissionsResponseDataType">
    <sequence>
     <element name="userName" type="xsd:string"/>
     <element name="accountType" type="xsd:string"/>
     <element name="permissions" type="impl:permissionListType"/>
    </sequence>
   </complexType>
   <complexType name="getUserPermissionsResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:getUserPermissionsResponseDataType"/>
    </sequence>
   </complexType>
   <element name="getUserPermissionsResponse" type="impl:getUserPermissionsResponseType"/>
   <complexType name="addDomainUserDataType">
    <sequence>
     <element name="userId" type="xsd:string"/>
     <element name="domain" type="xsd:string"/>
     <element maxOccurs="unbounded" name="roles" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="optIn" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="locale" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="timeZone" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:UserStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
    </sequence>
   </complexType>
   <complexType name="addDomainUserRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="user" type="impl:addDomainUserDataType"/>
    </sequence>
   </complexType>
   <element name="addDomainUserRequest" type="impl:addDomainUserRequestType"/>
   <complexType name="failedAddDomainUserDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="user" type="impl:addDomainUserDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedAddDomainUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedUser" type="impl:failedAddDomainUserDataType"/>
    </sequence>
   </complexType>
   <complexType name="domainUserPKType">
    <sequence>
     <element name="userName" type="xsd:string"/>
     <element name="domainName" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="domainUserIdentifierType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="uniqueId" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="primaryKeys" type="impl:domainUserPKType"/>
    </sequence>
   </complexType>
   <complexType name="addedDomainUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="user" type="impl:domainUserIdentifierType"/>
    </sequence>
   </complexType>
   <complexType name="addDomainUserResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedAddDomainUserDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:addedDomainUserDataListType"/>
    </sequence>
   </complexType>
   <element name="addDomainUserResponse" type="impl:addDomainUserResponseType"/>
   <complexType name="updateDomainUserDataType">
    <sequence>
     <element name="domainUser" type="impl:domainUserIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="organization" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="roles" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="optIn" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="locale" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="timeZone" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="status" type="impl:UserStatusType"/>
     <element maxOccurs="1" minOccurs="0" name="customAttributes" type="impl:attributeDescriptorDataType"/>
    </sequence>
   </complexType>
   <complexType name="updateDomainUserRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="user" type="impl:updateDomainUserDataType"/>
    </sequence>
   </complexType>
   <element name="updateDomainUserRequest" type="impl:updateDomainUserRequestType"/>
   <complexType name="failedUpdateDomainUserDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="user" type="impl:updateDomainUserDataType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedUpdateDomainUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedUser" type="impl:failedUpdateDomainUserDataType"/>
    </sequence>
   </complexType>
   <complexType name="updatedDomainUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="user" type="impl:domainUserIdentifierType"/>
    </sequence>
   </complexType>
   <complexType name="updateDomainUserResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedUpdateDomainUserDataListType"/>
     <element maxOccurs="1" minOccurs="0" name="responseData" type="impl:updatedDomainUserDataListType"/>
    </sequence>
   </complexType>
   <element name="updateDomainUserResponse" type="impl:updateDomainUserResponseType"/>
   <complexType name="deleteDomainUserRequestType">
    <sequence>
     <element maxOccurs="unbounded" name="user" type="impl:domainUserIdentifierType"/>
    </sequence>
   </complexType>
   <element name="deleteDomainUserRequest" type="impl:deleteDomainUserRequestType"/>
   <complexType name="failedDeleteDomainUserDataType">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="user" type="impl:domainUserIdentifierType"/>
     <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="failedDeleteDomainUserDataListType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="failedUser" type="impl:failedDeleteDomainUserDataType"/>
    </sequence>
   </complexType>
   <complexType name="deleteDomainUserResponseType">
    <sequence>
     <element name="statusInfo" type="impl:StatusInfoType"/>
     <element maxOccurs="1" minOccurs="0" name="failedData" type="impl:failedDeleteDomainUserDataListType"/>
    </sequence>
   </complexType>
   <element name="deleteDomainUserResponse" type="impl:deleteDomainUserResponseType"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRelatedAccountsResponse">

      <wsdl:part element="impl:getRelatedAccountsResponse" name="getRelatedAccountsResponse"/>

   </wsdl:message>

   <wsdl:message name="getSubAccountsRequest">

      <wsdl:part element="impl:getSubAccountsRequest" name="getSubAccountsRequest"/>

   </wsdl:message>

   <wsdl:message name="getUsersQueryResponse">

      <wsdl:part element="impl:getUsersQueryResponse" name="getUsersQueryResponse"/>

   </wsdl:message>

   <wsdl:message name="updateUserRolesResponse">

      <wsdl:part element="impl:updateUserRolesResponse" name="updateUserRolesResponse"/>

   </wsdl:message>

   <wsdl:message name="getRelatedAccountsRequest">

      <wsdl:part element="impl:getRelatedAccountsRequest" name="getRelatedAccountsRequest"/>

   </wsdl:message>

   <wsdl:message name="getUserAccountsExpiryQueryRequest">

      <wsdl:part element="impl:getUserAccountsExpiryQueryRequest" name="getUserAccountsExpiryQueryRequest"/>

   </wsdl:message>

   <wsdl:message name="deleteAccountResponse">

      <wsdl:part element="impl:deleteAccountResponse" name="deleteAccountResponse"/>

   </wsdl:message>

   <wsdl:message name="getSubAccountsResponse">

      <wsdl:part element="impl:getSubAccountsResponse" name="getSubAccountsResponse"/>

   </wsdl:message>

   <wsdl:message name="getAccountCountResponse">

      <wsdl:part element="impl:getAccountCountResponse" name="getAccountCountResponse"/>

   </wsdl:message>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUserRequest" name="createUserRequest"/>

   </wsdl:message>

   <wsdl:message name="getUserCountResponse">

      <wsdl:part element="impl:getUserCountResponse" name="getUserCountResponse"/>

   </wsdl:message>

   <wsdl:message name="getAccountsQueryResponse">

      <wsdl:part element="impl:getAccountsQueryResponse" name="getAccountsQueryResponse"/>

   </wsdl:message>

   <wsdl:message name="updateUserRequest">

      <wsdl:part element="impl:updateUserRequest" name="updateUserRequest"/>

   </wsdl:message>

   <wsdl:message name="updateDomainUsersRequest">

      <wsdl:part element="impl:updateDomainUserRequest" name="updateDomainUserRequest"/>

   </wsdl:message>

   <wsdl:message name="relateAccountsResponse">

      <wsdl:part element="impl:relateAccountsResponse" name="relateAccountsResponse"/>

   </wsdl:message>

   <wsdl:message name="deleteDomainUsersResponse">

      <wsdl:part element="impl:deleteDomainUserResponse" name="deleteDomainUserResponse"/>

   </wsdl:message>

   <wsdl:message name="updateUserResponse">

      <wsdl:part element="impl:updateUserResponse" name="updateUserResponse"/>

   </wsdl:message>

   <wsdl:message name="getParentAccountsRequest">

      <wsdl:part element="impl:getParentAccountsRequest" name="getParentAccountsRequest"/>

   </wsdl:message>

   <wsdl:message name="updateDomainUsersResponse">

      <wsdl:part element="impl:updateDomainUserResponse" name="updateDomainUserResponse"/>

   </wsdl:message>

   <wsdl:message name="deleteDomainUsersRequest">

      <wsdl:part element="impl:deleteDomainUserRequest" name="deleteDomainUserRequest"/>

   </wsdl:message>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAcctRequest" name="createAcctRequest"/>

   </wsdl:message>

   <wsdl:message name="getAccountCountRequest">

      <wsdl:part element="impl:getAccountCountRequest" name="getAccountCountRequest"/>

   </wsdl:message>

   <wsdl:message name="getUsersQueryRequest">

      <wsdl:part element="impl:getUsersQueryRequest" name="getUsersQueryRequest"/>

   </wsdl:message>

   <wsdl:message name="updateAccountRequest">

      <wsdl:part element="impl:updateAccountRequest" name="updateAccountRequest"/>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAcctResponse" name="createAcctResponse"/>

   </wsdl:message>

   <wsdl:message name="updateAccountResponse">

      <wsdl:part element="impl:updateAccountResponse" name="updateAccountResponse"/>

   </wsdl:message>

   <wsdl:message name="deleteAccountRequest">

      <wsdl:part element="impl:deleteAccountRequest" name="deleteAccountRequest"/>

   </wsdl:message>

   <wsdl:message name="getAccountsQueryRequest">

      <wsdl:part element="impl:getAccountsQueryRequest" name="getAccountsQueryRequest"/>

   </wsdl:message>

   <wsdl:message name="relateAccountsRequest">

      <wsdl:part element="impl:relateAccountsRequest" name="relateAccountsRequest"/>

   </wsdl:message>

   <wsdl:message name="updateUserRolesRequest">

      <wsdl:part element="impl:updateUserRolesRequest" name="updateUserRolesRequest"/>

   </wsdl:message>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="createUserResponse"/>

   </wsdl:message>

   <wsdl:message name="linkAccountsResponse">

      <wsdl:part element="impl:linkAccountsResponse" name="linkAccountsResponse"/>

   </wsdl:message>

   <wsdl:message name="getUserPermissionsRequest">

      <wsdl:part element="impl:getUserPermissionsRequest" name="getUserPermissionsRequest"/>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

      <wsdl:part element="impl:deleteUserResponse" name="deleteUserResponse"/>

   </wsdl:message>

   <wsdl:message name="getUserAccountsExpiryQueryResponse">

      <wsdl:part element="impl:getUserAccountsExpiryQueryResponse" name="getUserAccountsExpiryQueryResponse"/>

   </wsdl:message>

   <wsdl:message name="getParentAccountsResponse">

      <wsdl:part element="impl:getParentAccountsResponse" name="getParentAccountsResponse"/>

   </wsdl:message>

   <wsdl:message name="getUserCountRequest">

      <wsdl:part element="impl:getUserCountRequest" name="getUserCountRequest"/>

   </wsdl:message>

   <wsdl:message name="addDomainUsersRequest">

      <wsdl:part element="impl:addDomainUserRequest" name="addDomainUserRequest"/>

   </wsdl:message>

   <wsdl:message name="getUserPermissionsResponse">

      <wsdl:part element="impl:getUserPermissionsResponse" name="getUserPermissionsResponse"/>

   </wsdl:message>

   <wsdl:message name="addDomainUsersResponse">

      <wsdl:part element="impl:addDomainUserResponse" name="addDomainUserResponse"/>

   </wsdl:message>

   <wsdl:message name="linkAccountsRequest">

      <wsdl:part element="impl:linkAccountsRequest" name="linkAccountsRequest"/>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part element="impl:deleteUserRequest" name="deleteUserRequest"/>

   </wsdl:message>

   <wsdl:portType name="UserAcctHierarchyServiceInterfaceV3">

      <wsdl:operation name="createAccount" parameterOrder="createAcctRequest">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest"/>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="linkAccounts" parameterOrder="linkAccountsRequest">

         <wsdl:input message="impl:linkAccountsRequest" name="linkAccountsRequest"/>

         <wsdl:output message="impl:linkAccountsResponse" name="linkAccountsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateAccount" parameterOrder="updateAccountRequest">

         <wsdl:input message="impl:updateAccountRequest" name="updateAccountRequest"/>

         <wsdl:output message="impl:updateAccountResponse" name="updateAccountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteAccount" parameterOrder="deleteAccountRequest">

         <wsdl:input message="impl:deleteAccountRequest" name="deleteAccountRequest"/>

         <wsdl:output message="impl:deleteAccountResponse" name="deleteAccountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAccountsQuery" parameterOrder="getAccountsQueryRequest">

         <wsdl:input message="impl:getAccountsQueryRequest" name="getAccountsQueryRequest"/>

         <wsdl:output message="impl:getAccountsQueryResponse" name="getAccountsQueryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserAccountsExpiryQuery" parameterOrder="getUserAccountsExpiryQueryRequest">

         <wsdl:input message="impl:getUserAccountsExpiryQueryRequest" name="getUserAccountsExpiryQueryRequest"/>

         <wsdl:output message="impl:getUserAccountsExpiryQueryResponse" name="getUserAccountsExpiryQueryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAccountCount" parameterOrder="getAccountCountRequest">

         <wsdl:input message="impl:getAccountCountRequest" name="getAccountCountRequest"/>

         <wsdl:output message="impl:getAccountCountResponse" name="getAccountCountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getParentAccounts" parameterOrder="getParentAccountsRequest">

         <wsdl:input message="impl:getParentAccountsRequest" name="getParentAccountsRequest"/>

         <wsdl:output message="impl:getParentAccountsResponse" name="getParentAccountsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSubAccounts" parameterOrder="getSubAccountsRequest">

         <wsdl:input message="impl:getSubAccountsRequest" name="getSubAccountsRequest"/>

         <wsdl:output message="impl:getSubAccountsResponse" name="getSubAccountsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUsersQuery" parameterOrder="getUsersQueryRequest">

         <wsdl:input message="impl:getUsersQueryRequest" name="getUsersQueryRequest"/>

         <wsdl:output message="impl:getUsersQueryResponse" name="getUsersQueryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserCount" parameterOrder="getUserCountRequest">

         <wsdl:input message="impl:getUserCountRequest" name="getUserCountRequest"/>

         <wsdl:output message="impl:getUserCountResponse" name="getUserCountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createUser" parameterOrder="createUserRequest">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest"/>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateUser" parameterOrder="updateUserRequest">

         <wsdl:input message="impl:updateUserRequest" name="updateUserRequest"/>

         <wsdl:output message="impl:updateUserResponse" name="updateUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateUserRoles" parameterOrder="updateUserRolesRequest">

         <wsdl:input message="impl:updateUserRolesRequest" name="updateUserRolesRequest"/>

         <wsdl:output message="impl:updateUserRolesResponse" name="updateUserRolesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteUser" parameterOrder="deleteUserRequest">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest"/>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="relateAccounts" parameterOrder="relateAccountsRequest">

         <wsdl:input message="impl:relateAccountsRequest" name="relateAccountsRequest"/>

         <wsdl:output message="impl:relateAccountsResponse" name="relateAccountsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRelatedAccounts" parameterOrder="getRelatedAccountsRequest">

         <wsdl:input message="impl:getRelatedAccountsRequest" name="getRelatedAccountsRequest"/>

         <wsdl:output message="impl:getRelatedAccountsResponse" name="getRelatedAccountsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserPermissions" parameterOrder="getUserPermissionsRequest">

         <wsdl:input message="impl:getUserPermissionsRequest" name="getUserPermissionsRequest"/>

         <wsdl:output message="impl:getUserPermissionsResponse" name="getUserPermissionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addDomainUsers" parameterOrder="addDomainUserRequest">

         <wsdl:input message="impl:addDomainUsersRequest" name="addDomainUsersRequest"/>

         <wsdl:output message="impl:addDomainUsersResponse" name="addDomainUsersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateDomainUsers" parameterOrder="updateDomainUserRequest">

         <wsdl:input message="impl:updateDomainUsersRequest" name="updateDomainUsersRequest"/>

         <wsdl:output message="impl:updateDomainUsersResponse" name="updateDomainUsersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteDomainUsers" parameterOrder="deleteDomainUserRequest">

         <wsdl:input message="impl:deleteDomainUsersRequest" name="deleteDomainUsersRequest"/>

         <wsdl:output message="impl:deleteDomainUsersResponse" name="deleteDomainUsersResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="v3/UserAcctHierarchyServiceSoapBinding" type="impl:UserAcctHierarchyServiceInterfaceV3">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="linkAccounts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="linkAccountsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="linkAccountsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountsQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountsQueryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountsQueryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserAccountsExpiryQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserAccountsExpiryQueryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserAccountsExpiryQueryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getParentAccounts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParentAccountsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getParentAccountsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSubAccounts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSubAccountsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSubAccountsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersQueryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersQueryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUserRoles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserRolesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateUserRolesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="relateAccounts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="relateAccountsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="relateAccountsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRelatedAccounts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRelatedAccountsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRelatedAccountsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserPermissions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserPermissionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserPermissionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addDomainUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDomainUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addDomainUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateDomainUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateDomainUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateDomainUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDomainUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDomainUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteDomainUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="v3/UserAcctHierarchyService">

      <wsdl:port binding="impl:v3/UserAcctHierarchyServiceSoapBinding" name="v3/UserAcctHierarchyService">

         <wsdlsoap:address location="http://localhost/flexnet/services/v3/UserAcctHierarchyService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
